<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ibuka</property>
    <property name="hibernate.connection.username">java</property>
    <property name="hibernate.connection.password">lolo</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="domain.Claim"/>
    <mapping class="domain.Event"/>
    <mapping class="domain.Gallery"/>
    <mapping class="domain.Notification"/>
    <mapping class="domain.Users"/>
    <mapping class="domain.Utype"/>
    <mapping class="domain.Victim"/>
    <mapping class="domain.VictimImage"/>
  </session-factory>
</hibernate-configuration>
